.storybook-logo {
  width: 502px;
  height: 214px;
}
.storybook-logo--primary {
  width: 502px;
  height: 214px;
}
.storybook-logo--secondary {
  width: 502px;
height: 214px;
}
.storybook-logo--small {
  width: 502px;
  height: 214px;
}
.storybook-logo--medium {
  width: 502px;
  height: 214px;
}
.storybook-logo--large {
  width: 502px;
  height: 214px;
}
